<!-- <div class="row services-title">
  <div class="col-md-6">
    <h1><%= i('cubes') %> Services</h1>
  </div
  <div class="col-md-6">

  </div>
</div> -->

<table class="table table-condensed table-striped">
  <thead>
      <th class="col-sm-1">Service <%= link_to new_service_path, class: "" do %>
            <%= i('plus') %>
        <% end %></th>
      <th class="col-sm-2">&nbsp;</th>
      <th class="col-sm-2">&nbsp;</th>
      <th class="col-sm-2">&nbsp;</th>
      <th class="col-sm-2">&nbsp;</th>
  </thead>
  <tbody>
  <% @services.each do |service| %>
    <% desired_metrics = 4 %>
    <% metrics = service.last_n_metrics(desired_metrics) %>
    <% metrics_count = metrics.count %>
    <tr>
      <td>
        <%= link_to service do %>
            <h5><%= service.title %></h5>
        <% end %>
      </td>
      <% metrics.each do |metric| %>
      <td>
          <%= metric_chart(metric.title, metric.id) %>
      </td>
      <% end %>
      <% if metrics_count < desired_metrics %>
      <% (desired_metrics - metrics.count).times do %>
          <td class="col-center-text">No Graph</td>
      <% end %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
