<h1>Listing metrics</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Datapoint source</th>
      <th>Datapoint name</th>
      <th>Summary</th>
      <th>Mitigation steps</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @metrics.each do |metric| %>
      <tr>
        <td><%= metric.title %></td>
        <td><%= metric.datapoint_source %></td>
        <td><%= metric.datapoint_name %></td>
        <td><%= metric.summary %></td>
        <td><%= metric.mitigation_steps %></td>
        <td><%= metric.contact %></td>
        <td><%= link_to 'Show', service_metric_path(metric.service, metric) %></td>
        <td><%= link_to 'Edit', edit_service_metric_path(metric.service, metric) %></td>
        <td><%= link_to 'Destroy', [metric.service, metric], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metric', new_service_metric_path %>
