<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @metric.title %>
</p>

<p>
  <strong>Datapoint source:</strong>
  <%= @metric.datapoint_source %>
</p>

<p>
  <strong>Datapoint name:</strong>
  <%= @metric.datapoint_name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @metric.summary %>
</p>

<p>
  <strong>Mitigation steps:</strong>
  <%= @metric.mitigation_steps %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @metric.contact %>
</p>


<h4>Graph</h4>

<%= metric_chart(@metric.id, size: :big) %>


<%= link_to "Delete metric", @metric, method: :delete, class: "btn btn-danger" %>
